.selfie {
    margin:50px;
    height: 100px;
    width: auto;
    border: 3px;
    border-color: aquamarine;
    border-radius: 50%;
}

.selfie:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.selfie.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.about {
    vertical-align: middle;
    padding:70px;
}


  
  /* Style page content */
  .main {
    margin-left: 0; /* Same as the width of the sidebar */
    padding: 0px 0px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .cover-hight {
      margin: 0;
      height: auto; /** modified */
      width: 100vw;
      margin-top : 0;
      margin-left:0;
      margin-right: 0;
      padding:0px;
      left:0;
      right:0;
      background-color: #191919;
  }

.white-text {
    color: white;
}

/** put button in center */
.put-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom:20px;
}

.l:hover {
    fill: 'orange';
  }
